<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467622418596-m4dehsa9sb4b2uridcpoukulgmqqg4pl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467622418596-m4dehsa9sb4b2uridcpoukulgmqqg4pl</string>
	<key>API_KEY</key>
	<string>AIzaSyBd0Dh_pkVDZ37llTWoQDoeFxp2LcW-Tts</string>
	<key>GCM_SENDER_ID</key>
	<string>467622418596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>flutter.google.sigin.in</string>
	<key>PROJECT_ID</key>
	<string>sigin-in-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>sigin-in-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467622418596:ios:5fd628e43d6c444b8a2e31</string>
</dict>
</plist>